#app {
    font-family: 'Lato', sans-serif !important;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

footer {
    bottom: 0;
    border-width: 0 0 1px;
    position: relative;
    right: 0;
    left: 0;
}

.carousel-caption {
    background-color: rgba(44, 70, 142, 0.75) !important;
    border-radius: 8px !important;
    margin: 0;
    height: fit-content;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.mb-50 {
    margin-top: 115px !important;
}

.highlight {
    color: #42b983;
}

.br-15 {
    border-radius: 10px;
}

.btn-default {
    background: #ADCBBF;
    color: #fff;
}

a {
    text-decoration-line: none;
}

.link {
    color: #6c757d !important;
}

.bg-white {
    background: white;
}

.bg-2 {
    background: #ADCBBF;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-10px);
    }
    100% {
        transform: translatey(0px);
    }
}

.down {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}